*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

button,
input,
textarea,
select {
  font: inherit;
  border: none;
  background: none;
  outline: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
}

a,
button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
textarea {
  border-radius: 0;
  background: transparent;
}

.header__title {
  font-size: 1.375rem;
  font-weight: 700;
  color: hsl(183, 100%, 15%);
  letter-spacing: 12px;
  text-transform: uppercase;
}

h2 {
  font-size: 1rem;
}

.bill__title,
.tip__title,
.people__title {
  color: hsl(186, 14%, 43%);
}

input {
  font-size: 1.375rem;
  font-weight: 700;
}

button {
  font-size: 1.375rem;
  font-weight: 700;
  text-transform: uppercase;
}

.tip__button {
  color: hsl(0, 100%, 100%);
}

.result__reset-button {
  color: hsl(183, 100%, 15%);
}
.result__title {
  color: hsl(0, 100%, 100%);
}
.result__subtitle {
  font-size: 0.875rem;
  font-weight: 400;
  color: hsl(184, 14%, 56%);
}
.result__value {
  font-size: 1.75rem;
  font-weight: 700;
  color: hsl(172, 67%, 45%);
}

body {
  font-family: "Space Mono", monospace;
  background-color: hsl(185, 41%, 84%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
body header {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  text-align: center;
}
body main {
  border-radius: 24px 24px 0 0;
  background-color: hsl(0, 100%, 100%);
  padding: 2.25rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 38px;
}
body footer {
  background-color: hsl(0, 100%, 100%);
  padding: 1rem;
  font-size: 1rem;
  text-align: center;
  flex-shrink: 0;
}
body footer a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
  font-weight: 700;
}
@media (min-width: 576px) {
  body header {
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;
  }
  body main {
    padding: 3.5rem 3rem;
    gap: 48px;
  }
}
@media (min-width: 768px) {
  body header {
    margin-top: 4.5rem;
    margin-bottom: 4.5rem;
  }
  body main {
    padding: 4.5rem 3rem;
    gap: 58px;
  }
}
@media (min-width: 1024px) {
  body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  body header {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
  body main {
    width: 57.75rem;
    padding: 32px;
    flex-direction: row;
    border-radius: 24px;
  }
  body main .form {
    width: 50%;
  }
  body main .result {
    width: 50%;
  }
  body footer {
    background-color: transparent;
  }
}
@media (min-width: 1024px) and (min-height: 700px) {
  body header {
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;
  }
}
@media (min-width: 1024px) and (min-height: 1000px) {
  body header {
    margin-top: 5.5rem;
    margin-bottom: 5.5rem;
  }
}

button {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  width: 100%;
  border-radius: 6px;
  font-size: 1.375rem;
  font-weight: 700;
  text-transform: uppercase;
}

.tip__button {
  height: 48px;
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  background-color: hsl(183, 100%, 15%);
  color: hsl(0, 100%, 100%);
  transition: background 0.2s, color 0.2s;
}
.tip__button:hover {
  background-color: hsl(172, 67%, 65%);
  color: hsl(183, 100%, 15%);
}
.tip__button.active {
  background-color: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
}

.result__reset-button {
  background-color: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
  transition: background 0.2s, color 0.2s;
  cursor: pointer;
}
.result__reset-button:hover:enabled {
  background-color: hsl(172, 67%, 65%);
}
.result__reset-button:disabled {
  background-color: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
  cursor: not-allowed;
  opacity: 0.3;
}

input {
  background-color: hsl(189, 47%, 97%);
  margin-top: 0.5rem;
  padding: 0.5rem 0.75rem;
  width: 100%;
  border-radius: 6px;
  text-align: right;
  color: hsl(183, 100%, 15%);
  border: 2px solid transparent;
  transition: border 0.2s;
  font-size: 1.375rem;
  font-weight: 700;
}
input:focus {
  outline: none;
  border: 2px solid hsl(172, 67%, 45%);
}
input.error {
  border: 2px solid hsl(12, 70%, 61%);
}
input:not(:placeholder-shown)::-moz-placeholder {
  color: transparent;
}
input:not(:-moz-placeholder-shown)::placeholder {
  color: transparent;
}
input:not(:placeholder-shown)::placeholder {
  color: transparent;
}
input::-moz-placeholder {
  opacity: 0.6;
  color: hsl(184, 14%, 56%);
}
input::placeholder {
  opacity: 0.6;
  color: hsl(184, 14%, 56%);
}

.input-icon-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
}
.input-icon-wrapper input {
  width: 100%;
  display: block;
  height: 48px;
  line-height: 48px;
  text-align: right;
}

.icon-dollar,
.icon-person {
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-30%);
}
.icon-dollar img,
.icon-person img {
  height: 1.3rem;
}

.bill__input,
.people__input {
  padding-left: 2.2em;
  text-align: right;
  height: 48px;
  line-height: 48px;
}
.bill__input::-moz-placeholder, .people__input::-moz-placeholder {
  opacity: 0.6;
  color: hsl(184, 14%, 56%);
}
.bill__input::placeholder,
.people__input::placeholder {
  opacity: 0.6;
  color: hsl(184, 14%, 56%);
}

.tip__input {
  margin-top: 0;
  height: 48px;
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  line-height: 48px;
}
.tip__input.active {
  border: 2px solid hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
}

.input-title-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.input-title-row h2,
.input-title-row .bill__title,
.input-title-row .tip__title,
.input-title-row .people__title {
  margin: 0;
  font-size: 1rem;
  color: hsl(186, 14%, 43%);
  font-weight: 700;
}

.people__error-label,
.people__invalid-label,
.bill__invalid-label {
  display: none;
  color: hsl(12, 70%, 61%);
  font-size: 1rem;
  font-weight: 700;
}

.form {
  padding: 12px 0 12px 12px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.form .tip__buttons {
  margin-top: 12px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, auto);
  gap: 16px;
}
.form .result__group {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

@media (min-width: 768px) {
  .form .tip__buttons {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
  }
}
.result {
  padding: 44px 24px 24px 24px;
  border-radius: 12px;
  background-color: hsl(183, 100%, 15%);
  display: flex;
  flex-direction: column;
  gap: 24px;
}
@media (min-width: 1024px) {
  .result {
    padding: 58px 38px 40px 38px;
    justify-content: space-between;
  }
}
.result__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 1024px) {
  .result__value {
    font-size: 2.625rem;
  }
}/*# sourceMappingURL=main.css.map */