*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

button,
input,
textarea,
select {
  font: inherit;
  border: none;
  background: none;
  outline: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
}

a,
button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
textarea {
  border-radius: 0;
  background: transparent;
}

.header__title {
  font-size: 1.375rem;
  font-weight: 700;
  color: hsl(183, 100%, 15%);
  letter-spacing: 12px;
  text-transform: uppercase;
}

h2 {
  font-size: 1rem;
}

.bill__title,
.tip__title,
.people__title {
  color: hsl(186, 14%, 43%);
}

input {
  font-size: 1.375rem;
  font-weight: 700;
}

button {
  font-size: 1.375rem;
  font-weight: 700;
  text-transform: uppercase;
}

.tip__button {
  color: hsl(0, 100%, 100%);
}

.result__reset-button {
  color: hsl(183, 100%, 15%);
}

.result__title {
  color: hsl(0, 100%, 100%);
}

.result__subtitle {
  font-size: 0.875rem;
  font-weight: 400;
  color: hsl(184, 14%, 56%);
}

.result__value {
  font-size: 1.75rem;
  font-weight: 700;
  color: hsl(172, 67%, 45%);
}

@media (min-width: 768px) {
  .header__title {
    font-size: 2.0625rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  input,
  button {
    font-size: 2.0625rem;
  }
  .result__subtitle {
    font-size: 1.3125rem;
  }
  .result__value {
    font-size: 2.625rem;
  }
}
body {
  font-family: "Space Mono", monospace;
  background-color: hsl(185, 41%, 84%);
}

header {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  text-align: center;
}

main {
  border-radius: 24px 24px 0 0;
  background-color: hsl(0, 100%, 100%);
  padding: 2.25rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 38px;
}

footer {
  background-color: hsl(0, 100%, 100%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 576px) {
  header {
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;
  }
  main {
    padding: 3.5rem 3rem;
    gap: 48px;
  }
}
@media (min-width: 768px) {
  header {
    margin-top: 4.5rem;
    margin-bottom: 4.5rem;
  }
  main {
    padding: 4.5rem 3rem;
    gap: 58px;
  }
}
button {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  width: 100%;
  border-radius: 6px;
}

.tip__button {
  background-color: hsl(183, 100%, 15%);
}
.tip__button:hover {
  background-color: hsl(172, 67%, 45%);
}
.tip__button:focus {
  background-color: hsl(172, 67%, 45%);
}
.tip__button:active {
  background-color: hsl(172, 67%, 45%);
}

.result__reset-button {
  background-color: hsl(172, 67%, 45%);
}

input {
  background-color: hsl(189, 47%, 97%);
  margin-top: 0.5rem;
  padding: 0.5rem 0.75rem;
  width: 100%;
  border-radius: 6px;
  text-align: right;
  color: hsl(183, 100%, 15%);
}

.tip__input {
  margin-top: 0;
}

label {
  display: none;
}

.tip__buttons {
  margin-top: 12px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, auto);
  gap: 16px;
}

.result {
  padding: 44px 24px 24px 24px;
  border-radius: 12px;
  background-color: hsl(183, 100%, 15%);
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.result__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}/*# sourceMappingURL=main.css.map */