@use "../abstracts/variables" as *;

button {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  width: 100%;
  border-radius: 6px;
}

.tip__button {
  background-color: $color-green-900;
  transition: background 0.2s, color 0.2s;
  &:hover {
    background-color: $color-green-300;
    color: $color-green-900;
  }
  &:focus {
    background-color: $color-green-400;
  }
  &:active {
    background-color: $color-green-400;
  }
}

.result__reset-button {
  background-color: $color-green-400;
  transition: background 0.2s, color 0.2s;
  cursor: pointer;

  &:hover:enabled {
    background-color: $color-green-300;
  }

  &:disabled {
    background-color: $color-green-400;
    color: $color-green-900;
    cursor: not-allowed;
    opacity: 0.3;
  }
}
