@use "../abstracts/variables" as *;

button {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  width: 100%;
  border-radius: 6px;
  font-size: $font-size-large;
  font-weight: $font-weight-bold;
  text-transform: uppercase;
}

.tip__button {
  height: 48px;
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  background-color: $color-green-900;
  color: $color-white;
  transition: background 0.2s, color 0.2s;

  &:hover {
    background-color: $color-green-300;
    color: $color-green-900;
  }
  &:focus,
  &:active {
    background-color: $color-green-400;
  }
}

.result__reset-button {
  background-color: $color-green-400;
  color: $color-green-900;
  transition: background 0.2s, color 0.2s;
  cursor: pointer;

  &:hover:enabled {
    background-color: $color-green-300;
  }

  &:disabled {
    background-color: $color-green-400;
    color: $color-green-900;
    cursor: not-allowed;
    opacity: 0.3;
  }
}
