@use "../abstracts/variables" as *;

input {
  background-color: $color-grey-50;
  margin-top: 0.5rem;
  padding: 0.5rem 0.75rem;
  width: 100%;
  border-radius: 6px;
  text-align: right;
  color: $color-green-900;
  border: 2px solid transparent;
  transition: border 0.2s;
  font-size: $font-size-large;
  font-weight: $font-weight-bold;

  &:focus {
    outline: none;
    border: 2px solid $color-green-400;
  }

  &.error {
    border: 2px solid $color-error;
  }

  &:not(:placeholder-shown)::-webkit-input-placeholder {
    color: transparent;
  }
  &:not(:placeholder-shown):-ms-input-placeholder {
    color: transparent;
  }
  &:not(:placeholder-shown)::placeholder {
    color: transparent;
  }

  &::placeholder {
    opacity: 0.6;
    color: $color-grey-400;
  }
}

.input-icon-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;

  input {
    width: 100%;
    display: block;
    height: 48px;
    line-height: 48px;
    text-align: right;
  }
}

.icon-dollar,
.icon-person {
  position: absolute;
  left: 16px;
  pointer-events: none;
  z-index: 2;

  svg,
  img {
    display: block;
    height: 24px;
    font-size: 18px;
    font-weight: 500;
    stroke: #9ebbbd;
    stroke-width: 0.3;
  }
}

.bill__input,
.people__input {
  padding-left: 2.2em;
  text-align: right;
  height: 48px;
  line-height: 48px;
  // Vertically center text in input
  &::placeholder {
    opacity: 0.6;
    color: $color-grey-400;
  }
}

.tip__input {
  margin-top: 0;
  height: 48px;
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  text-align: center;
  line-height: 48px;
}
