@use "../abstracts/variables" as *;

input {
  background-color: $color-grey-50;
  margin-top: 0.5rem;
  padding: 0.5rem 0.75rem;
  width: 100%;
  border-radius: 6px;
  text-align: right;
  color: $color-green-900;
  border: 2px solid transparent;
  transition: border 0.2s;
  font-size: $font-size-large;
  font-weight: $font-weight-bold;

  &:focus {
    outline: none;
    border: 2px solid $color-green-400;
  }

  &.error {
    border: 2px solid $color-error;
  }

  &:not(:placeholder-shown)::-webkit-input-placeholder {
    color: transparent;
  }
  &:not(:placeholder-shown):-ms-input-placeholder {
    color: transparent;
  }
  &:not(:placeholder-shown)::placeholder {
    color: transparent;
  }

  &::placeholder {
    opacity: 0.6;
    color: $color-grey-400;
  }
}

.input-icon-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;

  input {
    width: 100%;
    display: block;
  }
}

.icon-dollar,
.icon-person {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  pointer-events: none;
  z-index: 2;
  height: 1em;

  svg,
  img {
    display: block;
    width: 1em;
    height: 1em;
  }
}

.bill__input {
  padding-left: 2.2em;
  text-align: right;
}

.tip__input {
  margin-top: 0;
}

.people__input {
  padding-left: 2.2em;
  text-align: right;

  &::placeholder {
    opacity: 0.6;
    color: $color-grey-400;
  }
}
