@use "../abstracts/variables" as *;

.result {
  padding: 44px 24px 24px 24px;
  border-radius: 12px;
  background-color: $color-green-900;
  display: flex;
  flex-direction: column;
  gap: 24px;

  @media (min-width: $breakpoint-large) {
    padding: 58px 38px 40px 38px;
    justify-content: space-between;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__value {
    @media (min-width: $breakpoint-large) {
      font-size: $font-size-xlarge * 1.5;
    }
  }
}
