@use "../abstracts/variables" as *;

body {
  font-family: $font-family;
  background-color: $color-grey-200;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

  header {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    text-align: center;

    @media (min-width: $breakpoint-small) {
      margin-top: 3.5rem;
      margin-bottom: 3.5rem;
    }

    @media (min-width: $breakpoint-medium) {
      margin-top: 4.5rem;
      margin-bottom: 4.5rem;
    }

    @media (min-width: $breakpoint-large) {
      margin-top: 0;
      margin-bottom: 0;
      transform: translateY(-4.5rem);

      @media (max-height: 800px) {
        transform: translateY(-2.5rem);
      }

      @media (max-height: 700px) {
        transform: translateY(-1.5rem);
      }

      @media (max-height: 600px) {
        transform: translateY(-0.5rem);
      }
    }

    @media (min-width: $breakpoint-extra-large) {
      transform: translateY(-5.5rem);
    }
  }

  main {
    border-radius: 24px 24px 0 0;
    background-color: $color-white;
    padding: 2.25rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 38px;
    box-shadow: 0 36px 36px rgba(143, 192, 198, 0.5);

    @media (min-width: $breakpoint-small) {
      padding: 3.5rem 3rem;
      gap: 48px;
    }

    @media (min-width: $breakpoint-medium) {
      padding: 4.5rem 3rem;
      gap: 56px;
    }

    @media (min-width: $breakpoint-large) {
      width: 57.75rem;
      padding: 32px;
      flex-direction: row;
      border-radius: 24px;

      .form {
        width: 50%;
      }
      .result {
        width: 50%;
      }
    }
  }

  footer {
    background-color: $color-white;
    padding: 1rem;
    font-size: $font-size-xsmall;
    text-align: center;
    flex-shrink: 0;
    margin-top: auto;
    width: 100%;

    a {
      color: $color-attribution-link;
      text-decoration: none;
      font-weight: $font-weight-bold;

      &:hover {
        text-decoration: underline;
      }
    }

    @media (min-width: $breakpoint-large) {
      background-color: transparent;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
    }
  }

  @media (min-width: $breakpoint-large) {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
