@use "../abstracts/variables" as *;

.header__title {
  font-size: $font-size-large;
  font-weight: $font-weight-bold;
  color: $color-green-900;
  letter-spacing: 12px;
  text-transform: uppercase;
}

h2 {
  font-size: $font-size-small;
}

.bill__title,
.tip__title,
.people__title {
  color: $color-grey-500;
}

input {
  font-size: $font-size-large;
  font-weight: $font-weight-bold;
}

button {
  font-size: $font-size-large;
  font-weight: $font-weight-bold;
  text-transform: uppercase;
}

.tip__button {
  color: $color-white;
}

.result__reset-button {
  color: $color-green-900;
}

.result__title {
  color: $color-white;
}

.result__subtitle {
  font-size: $font-size-xsmall;
  font-weight: $font-weight-regular;
  color: $color-grey-400;
}

.result__value {
  font-size: $font-size-xlarge;
  font-weight: $font-weight-bold;
  color: $color-green-400;
}

@media (min-width: $breakpoint-medium) {
  .header__title {
    font-size: $font-size-large * 1.5;
  }

  h2 {
    font-size: $font-size-small * 1.5;
  }

  input,
  button {
    font-size: $font-size-large * 1.5;
  }

  .result__subtitle {
    font-size: $font-size-xsmall * 1.5;
  }

  .result__value {
    font-size: $font-size-xlarge * 1.5;
  }
}
