@use "../abstracts/variables" as *;

.header__title {
  font-size: $font-size-large;
  font-weight: $font-weight-bold;
  color: $color-green-900;
  letter-spacing: 12px;
  text-transform: uppercase;
}

h2 {
  font-size: $font-size-small;
}

.bill__title,
.tip__title,
.people__title {
  color: $color-label;
}

input {
  font-size: $font-size-large;
  font-weight: $font-weight-bold;
}

button {
  font-size: $font-size-large;
  font-weight: $font-weight-bold;
  text-transform: uppercase;
}

.tip__button {
  color: $color-white;
}

.result {
  &__reset-button {
    color: $color-green-900;
  }
  &__title {
    color: $color-white;
  }
  &__subtitle {
    font-size: $font-size-xsmall;
    font-weight: $font-weight-regular;
    color: $color-grey-400;
  }
  &__value {
    font-size: $font-size-xlarge;
    font-weight: $font-weight-bold;
    color: $color-green-400;
  }
}
